* {
  margin: 0px;
  padding: 0px;

  @media(max-width: 360px) {
    width: fit-content;
  }

}


body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}